/*
 * The Center-a-tron mark 12
 */

body {
  font-family: Arial;
  font-size: 1rem;
  background: rgb(241, 236, 204);
  color: rgb(60, 60, 60);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  text-align: left;
  width: 50%;
  max-width: 50%;
  order: 3;
}

header {
  text-align: center;
  order: 1
}

body > p:first-of-type {
  order: 2;
}

/*
 * Link styling
 */

a:link, a:visited, a:hover, a:active {
  color: rgb(80, 120, 220);
}

a:after {
  content: " \1F517";
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * Content styling
 */

h2 ~ ul {
  margin: 0;
}

/*
 * Table of Contents
 */

nav > ul:first-child {
  border-top: 0.2rem solid;
  padding-top: 1rem;
}

nav > ul:last-child {
  border-bottom: 0.2rem solid;
  padding-bottom: 1rem;
}

nav > ul {
  list-style: none;
  padding-left: 0;
}

nav > ul > li > ul {
  list-style: none;
  padding-left: 3.2%;
}

nav li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

nav > ul > li:first-child {
  padding-top: 0;
}

nav > ul > li:last-child {
  padding-bottom: 0;
}

/*
 * Section Headers
 */

h2, h3 {
  margin: 0.2rem;
}

h2 > a:link, h2 > a:visited, h2 > a:hover, h2 > a:active,
h3 > a:link, h3 > a:visited, h3 > a:hover, h3 > a:active {
  color: inherit;
}

h2 > a:after, h3 > a:after {
  content: "";
  margin-left: 0;
}

h2 {
  font-size: 1.8rem;
}

h2:before {
  content: "##";
  margin-right: 0.5rem;
}

h3 {
  font-size: 1.3rem;
}

h3:before {
  content: "###";
  margin-right: 0.5rem;
}

/*
 * Footer
 */

body > p:last-of-type {
  font-style: italic;
  border-top: 0.2rem solid;
  padding-top: 1rem;
  text-align: center;
}

body > p:last-of-type > a:after {
  content: "";
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  margin-right:0.8rem;
}

body > p:last-of-type > a:first-of-type {
  margin-left: 0;
}

body > p:last-of-type > a:last-of-type {
  margin-right: 0;
}

body > p:last-of-type > a > img {
  height: 2rem;
  width: 2rem;
}

/*
 * Dark mode
 */

/*
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(24, 24, 24);
    color: rgb(135, 88, 255);
  }

  a:link, a:visited, a:hover, a:active {
    color: rgb(92, 184, 228);
  }
}
*/

/*
 * Lime mode
 */

@media (prefers-color-scheme: lime) {
  body {
    background: rgb(0, 255, 0);
    color: rgb(0, 250, 0);
  }

  a:link, a:visited, a:hover, a:active {
    color: rgb(0, 250, 0);
  }
}
